{% extends 'base1.html'%}

{% block content%}
<aside class="right-side">                
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Status</h3>    
									
                                </div><!-- /.box-header -->
                               
                            </div><!-- /.box -->


<h4>{{message}}</h4>


</div>

                </section><!-- /.content -->
            </aside><!-- /.right-side -->




{% endblock %}