
{% extends 'layout.html'  %}

{% block content %}

    <div id="overlay">
<section id="intro-header">
    <div class="row">
        <div class="wrap-headline">
            <div class=" col-xs-10 col-xs-offset-1">
            <h1 class="text-center">We Empower Lives</h1>
            <h1 class="text-center">We Support you always</h1>
            </div>
            <hr>
            <ul class="list-inline list-unstyled text-center">
                <li><a href="{% url 'login' %}" class="btn btn-default btn-lg">Log in</a></li>

            </ul>
        </div>
    </div>
</section>
    </div>

   
{% endblock %}


